div[data-theme="light"] {
    /*! appBackGround */
    --background_content: rgb(196, 196, 196);
    --parentComponentBackg: rgba(139, 139, 139, 0.778);
    --parentComponentBorder: rgb(238, 238, 238);
    --appThemeColor: rgb(25, 97, 91);
    --appThemeColorSecondary: rgb(255, 255, 255);
    --appThemeColorTertiary: rgb(230, 230, 230);
    --appThemeColorFourth: rgb(90, 90, 90);
    /*! textColor */
    --defaultTextColor: rgb(255, 255, 255);
    --defaultTextColorTwo: rgb(0, 0, 0);
    --current_day: rgb(255, 0, 0);
    /*! inputStyle */
    --inputBorder: rgb(41, 41, 41);
    --placeholderColor: rgb(197, 197, 197);
    /*! buttonStyle */
    --color_button: rgb(0, 0, 0);
    --miniNavigationButton: rgb(245, 245, 245);
    --background_button: rgb(25, 97, 91);
    --background_button_hover: rgb(170, 170, 170);


    /* ------------------------------- */
    /*! CalendarBackGround */
    --current_time_line: rgb(255, 0, 0);
    --eventBackground_selected: rgb(232, 6, 6);
    --InvalidDay_Background: rgba(56, 56, 56, 0.668);
    --currentDayBlock: rgb(46, 233, 217);
    --allEventOpossiteBackground: rgb(54, 54, 54);
    /*! littleComponents */
    --littleComponent_Background: rgb(246, 246, 246);
    --littleComponent_border: rgba(164, 164, 164, 0.839);
    --littleComponent_oppositeColor: rgb(87, 87, 228);
    /*! MessageBackGround */
    --messageContent_background: rgb(236, 236, 236);
    --newMessageForm_Background: rgb(240, 240, 240);
    --item_Background: rgb(255, 255, 255);
    --itemHeader_Background: rgb(179, 95, 218);
}



div[data-theme="dark"] {
    /* buttonStyle */
    --background_button: rgb(194, 86, 8);
    --background_button_hover: rgb(245, 245, 245);
    --color_button: rgb(255, 255, 255);
    /* appBackGround */
    --background_header: rgb(30, 30, 30);
    --background_content: rgb(0, 34, 77);
    --background_newEventContent: rgb(65, 65, 65);
    /* textColor */
    --defaultTextColor: rgb(192, 192, 192);
    /* inputStyle */
    --inputBorder: purple;

}



/* 

import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faRightLong } from '@fortawesome/free-solid-svg-icons';


*/